absl-py==1.0.0
astunparse==1.6.3
attrs==23.2.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.6
decorator==4.4.2
flatbuffers==2.0
gast==0.5.3
grpcio==1.44.0
gTTS==2.3.2
h5py==3.6.0
idna==3.3
imageio==2.19.2
imageio-ffmpeg==0.4.7
isodate==0.6.1
labelImg==1.8.6
libclang==13.0.0
lxml==4.9.1
Markdown==3.3.6
numpy==1.22.3
onvif-zeep==0.2.12
opencv-python==4.5.5.64
opt-einsum==3.3.0
Pillow==9.0.1
platformdirs==4.2.1
proglog==0.1.10
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.1.2
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pytz==2024.1
requests==2.27.1
requests-file==2.0.0
requests-toolbelt==1.0.0
rsa==4.8
rtsp==1.1.12
six==1.16.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
tqdm==4.64.0
typing_extensions==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
wrapt==1.14.0
zeep==4.2.1
